<h1
  class="app-cities-list-header"
>
  Last viewed places:
</h1>

<div
  *ngIf="history.length"
  class="app-cities-list"
>
  <app-city-card
    *ngFor="let weather of history"
    [weatherData]="weather"
    (removeFromHistoryEvent)="onRemoveElement($event)"
    [favorite]="isFavorite(weather)"
  ></app-city-card>
</div>

<h3
  *ngIf="!history.length"
  class="app-weather-list-none"
>
  There is nothing yet;
</h3>
