:host {
  display: block;
}

.app-cities-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.app-cities-list-header {
  text-align: center;
}

.app-weather-list-none {
  text-align: center;
}
