<div
  class="app-oh-no"
>
  <h1>Something went wrong :(</h1>

  <img
    src="../../../assets/oh-no.png"
    alt=""
  />

  <a
    routerLink="/"
  >
    <h2>You can go to main page</h2>
  </a>

  <a
    routerLink="/my"
  >
    <h2>You can go to your favorite places</h2>
  </a>

  <a
    href="https://google.com"
  >
    <h2>You can go...</h2>
  </a>
</div>
