.app-city-info {
  text-align: center;
}

.app-city-info-share {
  display: inline-block;
}

.app-city-info-future {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
