<div
  class="app-city-info"
>
  <h1>{{city}}</h1>

  <a
    [href]="getTLink()"
    target="_blank"
    class="button"
  >
    Share
  </a>

  <button
    *ngIf="!isFavorite()"
    (click)="addToFavorite()"
    class="button"
  >
    Add to favorite
  </button>

  <button
    *ngIf="isFavorite()"
    (click)="removeFromFavorite()"
    class="button"
  >
    Remove from favorite
  </button>

  <div
    *ngIf="presentWeather"
  >
    <img
      [src]="presentWeather.icon"
      width="200px"
      height="200px"
      alt=""
    />

    <h2>
      {{presentWeather.description}}
    </h2>

    <h2>
      {{presentWeather.date | date}}
    </h2>

    <h3
      [innerHTML]="presentWeather.temp"
    ></h3>

    <h3>
      {{presentWeather.pressure}}
    </h3>

    <h3>
      {{presentWeather.humidity}}
    </h3>

    <h3>
      {{presentWeather.windSpeed}}
    </h3>
  </div>

  <div
    *ngIf="futureWeather"
    class="app-city-info-future"
  >
    <app-weather-card
      *ngFor="let weather of futureWeather"
      [weather]="weather"
    ></app-weather-card>
  </div>
</div>
