<h1
  class="app-cities-list-header"
>
  My favorite places:
</h1>

<div
  *ngIf="favorite.length"
  class="app-cities-list"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
>
  <app-city-card
    *ngFor="let weather of favorite"
    [weatherData]="weather"
    (removeFromFavoriteEvent)="onRemoveElement($event)"
    [favorite]="true"
    [fromFavorite]="true"
    cdkDrag
  ></app-city-card>
</div>

<h3
  *ngIf="!favorite.length"
  class="app-favorite-list-none"
>
  You did not added favorite cities;
</h3>
