<div
  class="ng-autocomplete app-search-field"
>
  <ng-autocomplete
    [data]="data"
    [searchKeyword]="keyword"
    (selected)='selectEvent($event)'
    (inputChanged)='onChangeSearch($event)'
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate"
    [debounceTime]="600"
    (closed)="onClosed()"
    placeHolder="Search city"
  ></ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div
      *ngIf="isLoading"
      [innerHTML]="'loading...'"
    ></div>

    <div
      *ngIf="!isLoading"
      [innerHTML]="notFound"
    ></div>
  </ng-template>
</div>
