<div
  *ngIf="weather"
  class="app-city-info-future-item"
>
  <span>
    {{weather.date | date}}
  </span>

  <img
    [src]="weather.icon"
    alt=""
  />

  <span>
    {{weather.description}}
  </span>

  <span
    [innerHTML]="weather.temp"
  ></span>

  <span>
    {{weather.pressure}}
  </span>

  <span>
    {{weather.humidity}}
  </span>

  <span>
    {{weather.windSpeed}}
  </span>
</div>
