.app-city-info-future-item {
  display: flex;
  flex-direction: column;

  border-color: black;
  border-style: double;
  border-radius: 20px;

  margin: 5px;
  padding: 8px;

  align-items: center;

  background-color: #FFC;
}
