:host {
  display: flex;
}

.app-city {
  display: flex;
  flex-direction: column;

  border-color: black;
  border-style: double;
  border-radius: 20px;

  margin: 5px;
  padding: 8px;

  align-items: center;

  background-color: #FFC;
}

.app-city-icon {
  display: block;
  margin: 0 auto;
}

.app-city-table {
  border-style: solid;
  border-width: 1px;
}

.app-city-date {
  text-align: center;
}
