<div class="app-city">
  <span>
    {{city}}
  </span>

  <div
    *ngIf="weather"
  >
    <a
      [routerLink]="['/city-info', id]"
    >
      <img
        [src]="weather.icon"
        [alt]="weather.description"
        class="app-city-icon"
      />
    </a>

    <table
      class="app-city-table"
    >
      <tr>
        <td>
          temp
        </td>

        <td
          [innerHTML]="weather.temp"
        ></td>
      </tr>

      <tr>
        <td>
          pressure
        </td>

        <td>
          {{weather.pressure}}
        </td>
      </tr>

      <tr>
        <td>
          humidity
        </td>

        <td>
          {{weather.humidity}}
        </td>
      </tr>
    </table>

    <div
      class="app-city-date"
    >
      {{weather.date | date}}
    </div>
  </div>

  <button
    *ngIf="!favorite"
    (click)="addToFavorite()"
    class="button"
  >
    Add to favorite
  </button>

  <button
    *ngIf="favorite"
    (click)="removeFromFavorite()"
    class="button"
  >
    Remove from favorite
  </button>

  <button
    (click)="remove()"
    class="button"
  >
    Delete
  </button>
</div>
