/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: bisque;
}

.button {
  width: 180px;
  display: inline-block;
  padding: 4px 8px;
  margin: 2px;
  border: 1px solid #646464;
  background-color: #e7eaf2;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: #fff;
}
