<div
  class="app-main-menu"
>
  <div class="app-main-menu-section">
    <a
      routerLink="/"
    >
      <img
        src="https://openweathermap.org/themes/openweathermap/assets/img/openweather-negative-logo-RGB.png"
        alt=""
        height="40px"
        class="app-main-menu-logo"
      />
    </a>

    <span
      class="app-main-menu-search"
    >
      <app-search-field></app-search-field>
    </span>
  </div>

  <div class="app-main-menu-section">
    <a
      routerLink="/my"
      class="app-main-menu-favorite"
    >
      &#11088;
    </a>
  </div>
</div>
