.app-main-menu {
  background-color: #34b5c7;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-main-menu-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-main-menu-logo {
  padding: 2px;
  margin: 2px;
}

.app-main-menu-search {
  margin: 0;
  padding: 0;
}

.app-main-menu-favorite {
  text-decoration: none;
  font-size: 2em;
  padding-right: 3px;
  padding-left: 3px;
}
